<div class="prestions mx-5 lg:flex lg:space-x-5 lg:h-screen">
  <section class="mt-5">
    <div class="bg-third-box box mb-5 h-full text-center">
      <h2>Nous contacter</h2>
      <p>
        <b>Mail</b><br />info@constructionSA.ch
      </p>
      <p>
        <b>Téléphone</b><br />079385738498
      </p>
    </div>
  </section>
  <aside class="mt-5 w-fit lg:h-screen">
    <div class="bg-first-box box h-full">
      <h2>Rénovation</h2>
        <a href="https://www.google.com/maps/place/Ergo+St-Sulpice/@46.5168157,6.5662946,17z/data=!3m1!4b1!4m5!3m4!1s0x478c3154c71c5ae9:0xd3818a66b955dee9!8m2!3d46.5168189!4d6.5685512">
          <img class="" src="../../assets/img/maps.jpg" alt="logo de l'entreprise">
        </a>
    </div>
  </aside>
</div>

