<div class="prestions mx-5 lg:flex lg:space-x-5 lg:h-screen">
  <section class="mt-5">
    <div class="bg-first-box box mb-5">
      <h2>Déconstruction</h2>
      <p>
        Notre entreprise exécute tous ses travaux de déconstruction tout en minimisant les nuisances et l'impact sur l'environnement.
      </p>
    </div>
    <div class="bg-second-box box">
      <h2>Bâtiment et génie civil</h2>
      <p>
        L'entreprise réalise tout type de construction en maçonnerie et en béton armé. Elle exécute les travaux de terrassement, canalisation de toute nature et construction de route dans le même souci de qualité.
      </p>
      <p>
        Nos employers ont tous été formé dans de bonnes entreprises.
      </p>
    </div>
  </section>
  <aside class="mt-5 lg:h-screen">
    <div class="bg-third-box box h-full">
      <h2>Rénovation</h2>
      <p>
        Le monde change, les modes fluctuent et soudain, notre environnement nous semble dépassé, voire même inadapté. Envie de changer d’air sans forcément changer d’horizon? Envie de mieux coller aux tendances du moment? Envie d’adapter l’espace parce que la famille s’est agrandie, parce que le besoin de place se fait sentir?
      </p>
      <p>
        Si vous voulez modifier votre habitat, ce guide vous concerne. Nous vous donnerons des pistes pour embellir votre maison, afin que la rénovation soit un vrai plaisir. Pièce par pièce, de la cave au grenier, nous vous guiderons dans le détail des améliorations à apporter.
      </p>
    </div>
  </aside>
</div>
