@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}

.box-title{
  border-bottom: solid 3px white;
  padding-bottom: 10px;
}

.box{
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img{
  margin-top: 10px;
}

p{
  margin-top: 20px;
}

a{
  padding: 0px 20px;
}

.activebutton {
  background-color: #3AFCFC;
}

